<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.test.lotto">

<application
    android:allowBackup="true"
    android:icon="@drawable/icon1removebgpreview"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Lotto">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".ResultActivity"
        android:theme="@style/AppTheme.Result"
        android:parentActivityName=".MainActivity"/>
    <activity
        android:name=".NameActivity"
        android:theme="@style/AppTheme.name"
        />
    <activity
        android:name=".ConstellationActivity"
        android:theme="@style/AppTheme.Constellation" />
</application>
</manifest>
